@model Quab_Ly_ne_nep_thi_dua.Models.DanhGia

@{
    ViewBag.Title = "Details";
}
<link href="~/Content/assets/css/giaodiendelete.css" rel="stylesheet" />
<h2> Thông tin đánh giá lớp           @Html.DisplayFor(model => model.Lop.TenLop)</h2>
<div class="formkk">

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TongDiem)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TongDiem)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.ThuTu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ThuTu)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.XepLoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.XepLoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lop.TenLop)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lop.TenLop)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.IdDanhGia }, new { @class = "edit-button" })

</p>
@Html.ActionLink("Quay lại", "Index", null, new { @class = "backlist" })