@model Quab_Ly_ne_nep_thi_dua.Models.Updatepassword
@{
    ViewBag.Title = "Doimatkhau";
    Layout = "~/Views/Shared/_LayoutTrangchu.cshtml";
}

<style>
    .btn-primary {
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
    }

        .btn-primary:hover {
            background-color: #0056b3;
        }
</style>
<link href="~/Content/assets/css/giaodiencreateupdate.css" rel="stylesheet" />
<br />


<br />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title text-center">Đổi mật khẩu</h2>
                        <form class="form-horizontal">
                            <div class="form-group">
                                @Html.LabelFor(model => model.CurrentPassword, htmlAttributes: new { @class = "control-label", style = "" })
                                @Html.PasswordFor(model => model.CurrentPassword, new { @class = "form-control", style = "border-" })
                                @Html.ValidationMessageFor(model => model.CurrentPassword, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "control-label", style = "" })
                                @Html.PasswordFor(model => model.NewPassword, new { @class = "form-control", style = "border-" })
                                @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label", style = "" })
                                @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", style = "border-" })
                                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group text-center">
                                <button type="submit" class="btn btn-success" style="background-color: #4CAF50; border-color: #4CAF50;">
                                    <span class="mr-2"><i class="fas fa-unlock-alt" style="color: #FFEB3B;"></i></span> Đổi mật khẩu
                                </button>
                            </div>
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


<br />


<br />

<br />

<br />

<br />