@model Quab_Ly_ne_nep_thi_dua.Models.GVCN

@{
    ViewBag.Title = "Details";
}

<link href="~/Content/assets/css/giaodiendelete.css" rel="stylesheet" />

<div class="container">
    <h2>Thông tin GVCN  @Html.DisplayFor(model => model.HoTenGVCN)</h2>
    <div class="formkk">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.HoTenGVCN)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.HoTenGVCN)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.NgaySinh)
            </dt>
            <dd>
                @{
                    DateTime ngay;
                    if (Model.NgaySinh is DateTime)
                    {
                        ngay = (DateTime)Model.NgaySinh;
                    }
                    else
                    {
                        ngay = DateTime.MinValue;
                    }
                }
                @ngay.ToString("dd/MM/yyyy")
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.SoDienThoai)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.SoDienThoai)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.GioiTinh)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.GioiTinh)
            </dd>
        </dl>
    </div>
    <p>
        @Html.ActionLink("Sửa", "Edit", new { id = Model.IdGVCN }, new { @class = "btn btn-primary edit-button" })
    </p>
    <p>
        @Html.ActionLink("Quay lại", "Index", null, new { @class = "btn btn-secondary backlist float-left" })
    </p>
</div>
