@model Quab_Ly_ne_nep_thi_dua.Models.DiemNeNep

@{
    ViewBag.Title = "Delete";
}


<link href="~/Content/assets/css/giaodiendelete.css" rel="stylesheet" />
<h3>Bạn có chắc chắn muốn xóa điểm này không?</h3>
<div class="formkk">

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DiemNeNep1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiemNeNep1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayCapNhat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayCapNhat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tuan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tuan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Thang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Thang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HocKy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HocKy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NamHoc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NamHoc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lop.TenLop)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lop.TenLop)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    <input type="submit" value="Delete" class="btn btn-default" /> |
    @Html.ActionLink(" Quay lại", "Index", null, new { @class = "backlist" })
</div>
    }
</div>
